<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">User Name</label>
            <input
              type="text"
              id="userName"
              class="form-control"
              formControlName="userName"
            />
            <span
              *ngIf="
                !signupForm.get('userData.userName').valid &&
                signupForm.get('userData.userName').touched
              "
              class="help-block"
            >
              Please enter a valid user name
            </span>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="userEmail"
              class="form-control"
              formControlName="userEmail"
            />
            <span
              *ngIf="
                !signupForm.get('userData.userEmail').valid &&
                signupForm.get('userData.userEmail').touched
              "
              class="help-block"
            >
              Please enter a valid user email
            </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" [value]="gender" formControlName="gender" />{{
              gender
            }}
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<!-- 
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="userName"
              required
            />
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()"
          >
            Suggest an Username
          </button>
          <button
            class="btn btn-default ml-2"
            type="button"
            (click)="clearUserData()"
          >
            Clear
          </button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="userEmail"
              required
              email
              #email="ngModel"
            />
            <p *ngIf="!email.valid && email.touched" class="help-block">
              Please enter valid email address
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          required
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret"
            required=""
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionAnswer"
            id="questionAnswer"
            cols="30"
            rows="5"
            class="form-control"
            [(ngModel)]="answer"
            required
          >
          </textarea>
          <p>Your reply: {{ answer }}</p>
        </div>

        <p *ngIf="!userData.valid && userData.touched">User data is invalid!</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required
            />
            {{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{ user.userName }}</p>
      <p>E-mail: {{ user.userEmail }}</p>
      <p>Secret Question: {{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div> -->
